In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

In [2]:
#File to load
school_data_loaded = Path("Resources/schools_complete.csv")
student_data_loaded = Path("Resources/students_complete.csv")

In [3]:
# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_loaded)
student_data_df = pd.read_csv(student_data_loaded)

In [4]:
# Display school data
school_data_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [5]:
# Display student data
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [6]:
# Combine the data into a single dataset
school_comp = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_comp.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [7]:
# Calculate the total number of unique schools
school_count = len(school_comp.school_name.unique())
school_count

15

In [8]:
# Calculate the total number of students
student_count = school_comp.student_name.count()
student_count

39170

In [9]:
# Calculate total budget
total_budget = sum(school_comp.budget.unique())
total_budget

24649428

In [10]:
# Calculate the average math score
avg_math_score = school_comp.math_score.mean()
avg_math_score

78.98537145774827

In [11]:
# Calculate the average reading score
avg_reading_score = school_comp.reading_score.mean()
avg_reading_score

81.87784018381414

In [12]:
# Calculate the percentage of students who passed math with a score greater than or equal to 70
passing_math = school_comp[(school_comp["math_score"] >=70)].count()["student_name"]
passing_math_percent = passing_math / float(student_count) * 100
passing_math_percent

74.9808526933878

In [13]:
# Calculate the percentage of students who passed reading with a score greater than or equal to 70
passing_reading = school_comp[(school_comp["reading_score"] >=70)].count()["student_name"]
passing_reading_percent = passing_reading / float(student_count) * 100
passing_reading_percent

85.80546336482001

In [14]:
# Calculate the percentage of the students that passed math and reading
passing_both = school_comp[(school_comp["math_score"] >=70) & 
                            (school_comp["reading_score"] >=70)].count()["student_name"]
overall_passing_rate = passing_both / float(student_count) * 100
overall_passing_rate

65.17232575950983

In [15]:
# Display all calculations in a Dataframe
district_summary_df = pd.DataFrame({"Total Schools":[school_count],
                                 "Total Students":[student_count],
                                 "Budget Total":[total_budget],
                                 "Average Math Score":[avg_math_score],
                                 "Average Reading Score":[avg_reading_score],
                                 "% Passing Math":[passing_math_percent],
                                 "% Passing Reading":[passing_reading_percent],
                                 "% Passing Overall":[overall_passing_rate]})

In [16]:
# Format
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Budget Total"] = district_summary_df["Budget Total"].map("${:,.2f}".format)
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.1f}".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.1f}".format)
district_summary_df["% Passing Overall"] = district_summary_df["% Passing Overall"].map("{:.1f}".format)

In [17]:
# Display DataFrame
district_summary_df

,Total Schools,Total Students,Budget Total,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
0,15,"39,170","$24,649,428.00",79.0,81.9,75.0,85.8,65.2

In [18]:
#School Summary

In [19]:
# School Types
school_types = school_data_df.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [20]:
# Calc total students per school
students_per_school = school_data_df["size"]
students_per_school

0     2917
1     2949
2     1761
3     4635
4     1468
5     2283
6     1858
7     4976
8      427
9      962
10    1800
11    3999
12    4761
13    2739
14    1635
Name: size, dtype: int64

In [21]:
# Replace number with school name
students_per_school = school_data_df.set_index(["school_name"])["size"]
students_per_school

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [22]:
# Calc the total school budget and per capita spending
per_school_budget = school_data_df.set_index(["school_name"])["budget"]
per_school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [23]:
# Calc total school budget and per capita spending per school
per_school_capita = per_school_budget / students_per_school
per_school_capita

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [24]:
# Calc test scores per school - math
per_school_math = school_comp.set_index(["school_name"])["math_score"]
per_school_math

school_name
Huang High School     79
Huang High School     61
Huang High School     60
Huang High School     58
Huang High School     84
                      ..
Thomas High School    90
Thomas High School    70
Thomas High School    84
Thomas High School    90
Thomas High School    75
Name: math_score, Length: 39170, dtype: int64

In [25]:
# Calc avg math scores per school
avg_math_per_school = per_school_math.groupby(["school_name"]).mean()
avg_math_per_school

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [26]:
# Calc test scores per school - reading
per_school_reading = school_comp.set_index(["school_name"])["reading_score"]
per_school_reading

school_name
Huang High School     66
Huang High School     94
Huang High School     90
Huang High School     67
Huang High School     97
                      ..
Thomas High School    99
Thomas High School    95
Thomas High School    73
Thomas High School    99
Thomas High School    95
Name: reading_score, Length: 39170, dtype: int64

In [27]:
# Calc avg reading scores per school 
avg_reading_per_school = per_school_reading.groupby(["school_name"]).mean()
avg_reading_per_school

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [28]:
# Calc number of students per school with math scores of 70 or higher
school_students_math = school_comp[(school_comp["math_score"] >= 70)]
school_students_math.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635

In [29]:
# Calc number of students per school with reading scores of 70 or higher
school_students_reading = school_comp[(school_comp["reading_score"] >= 70)]
school_students_reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635

In [30]:
# Calc number of students passing math and reading by school
passing_math_per_school = passing_math_per_school.groupby(["school_name"]).count()["student_name"]
passing_math_per_school

NameError: name 'passing_math_per_school' is not defined

In [31]:
# Calc number of students passing math and reading by school
passing_reading_per_school = passing_reading_per_school.groupby(["school_name"]).count()["student_name"]
passing_reading_per_school

NameError: name 'passing_reading_per_school' is not defined

In [32]:
# Calc the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_both = school_comp[(school_comp["reading_score"] >= 70) & (school_comp["math_score"] >= 70)]
students_passing_both = students_passing_both.groupby(["school_name"]).size()
students_passing_both

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [36]:
# Calc the passing rates - math
per_school_passing_math = per_school_passing_math / students_per_school * 100
per_school_passing_math

NameError: name 'per_school_passing_math' is not defined

In [34]:
# Calc the passing rates - reading
per_school_passing_reading = passing_reading_per_school / students_per_school * 100
per_school_passing_reading

NameError: name 'passing_reading_per_school' is not defined

In [35]:
# Create a DataFrame called 'per_school_summary' with columns for the calculations above.
per_school_summary = pd.DataFrame({
    "School Types":[school_types],
    "Total Students":[students_per_school],
    "Total School Budget":[per_school_budget],
    "Per Student Budget":[per_school_capita],
    "Average Reading Score per School":[avg_reading_per_school],
    "Average Math Score per School":[avg_math_per_school],
    "% Passing Reading":[per_school_passing_reading],
    "% Passing Math":[per_school_passing_math],
    "% Overall Passing":[students_passing_both]})
per_school_summary

NameError: name 'per_school_passing_reading' is not defined